html {
	height: 100%;
	width: 100%;
	font-family: 'Inter', sans-serif;
}

#card {
      max-width: 800px;
      margin: 20px auto;
      padding: 20px;
      border: 1px solid #ddd;
      border-radius: 8px;
      background-color: #ffffff;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
	font-size: 3rem;
	text-align: center;
	margin: 0;
	color: #000;
}

h1 {
      text-align: center;
      color: #5b836d;
    }

    #map-container {
      height: 400px;
      margin-bottom: 20px;
    }

.kontakt {
	margin-top: 1rem;
	margin-right: 2rem;
	float: left;
}

.kontakt img {
	vertical-align: middle;
}

.kontakt a {
	text-decoration: none;
	color: #2F6DAC;
	margin-left: 0.5rem;
}

.clear {
	clear: both;
}

    body {
      font-family: 'Inter', sans-serif;
      margin: 0;
      padding: 0;
    }

    /* 범례 스타일 */
    #legend {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 9px auto;
      padding: 6px;
      border: 1px solid #5b836d;
      border-radius: 10px;
      width: 97%;
      background-color: white;
    }

    #legend div {
      width: 73px;
      height: 14px;
      margin: 0 -1px;
      border: 1px solid #5b836d;
    }

    #legend-info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 7px auto;
      width: 80%;
      font-size: 14px;
      color: #5b836d;
    }

    #legend-info p {
      margin: -6px;
      padding: -4px;
    }

    /* 색상 정의 */
    #color-1 { background-color: #fffff7; }
    #color-2 { background-color: #d6e0d4; }
    #color-3 { background-color: #c1d0c3; }
    #color-4 { background-color: #adc1b2; }
    #color-5 { background-color: #99b2a1; }
    #color-6 { background-color: #84a28f; }
    #color-7 { background-color: #70937e; }
    #color-8 { background-color: #5b836d; }
    #color-9 { background-color: #477457; }
    #color-10 { background-color: #33654B; }

    /* 설명 텍스트 스타일 */
    #description {
      margin-top: 20px;
      text-align: justify;
      font-size: 14px;
      line-height: 1.6;
      color: #333;
    }

    #description b {
      color: #5b836d;
    }

    #description i {
      font-style: italic;
    }

/* general toolbar styles */
.leaflet-bar a {
  border: 1px solid #000078 !important;
  color: #0d3922 !important;
}


.leaflet-bar a:hover,
.leaflet-bar a:focus {
  background-color: #0d3922 !important;
  color: #fff !important;
  }

/* Das hier styled die Popups auf der Map */
.leaflet-tooltip-pane   { z-index: 762 !important; }

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background-color: #fff;
  box-shadow: none !important;
  border: 1px solid #0d3922;
}

.leaflet-popup-content-wrapper{
  border-top: 28px solid #0d3922;
}

.leaflet-popup-tip-container {
  margin-top: -1px !important;
  }

.leaflet-popup-tip {
  border-top-color: #fff;
  border-left-color: #fff;
}

.leaflet-popup-content-wrapper {
  border-radius: -25px !important;
}

.leaflet-container a.leaflet-popup-close-button {
  color: #fff !important;
}

.leaflet-popup-content {
  display: flex;
  flex-direction: column;
  font-size: 1rem !important;
  line-height: 1.5 !important;
  color: #0d3922;
  margin: -27px 30px 5px 5px !important;
}

.Gemeinde {
  color: #ffffff;
  font-weight: 400;
}

.ImmoN {
  color: #77a48b; /* 세미콜론 추가 */
  font-size: -4rem;
  font-weight: 600;
  margin-bottom: 0.6rem;
}
.ImmoH {
  color: #0d3922; /* 세미콜론 추가 */
  font-size: -4rem;
  font-weight: 600;
  margin-bottom: -1.3rem;
  
/* pro Quadrat 텍스트 스타일 */
.pro-quadrat {
  font-size: 0.96rem !important; /* pro Quadrat 크기 */
  font-weight: 300 !important; /* pro Quadrat 두께 */
  margin-left: 3px !important; /* 텍스트 간격 추가 */
  color: #333 !important; /* 색상 */
}    
  

/* 체크박스 스타일 */
.pflege-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 18px 0;
}

#PflegeOff, #PflegeOn {
  margin: 0 10px;
  font-size: 9px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid #000078;
  -webkit-transition: .2s;
  transition: .2s;
  border-radius: 5px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1rem;
  width: 1rem;
  left: 2px;
  bottom: 2px;
  background-color: #000078;
  transition: background-color 0.2s, transform 0.2s; /* 배경색과 위치 변경 전환 효과 */
  border-radius: 50%; /* 둥근 테두리 */
}

input:checked + .slider {
  background-color: #5b836d;
}

input:checked + .slider:before {
  transform: translateX(20px);
}
    
}



