html {
	height: 100%;
	width: 100%;
	font-family: 'Crimson Pro', serif;
}

/*
Eigenschaften der Schrift CSS rules to specify families in Google Fonts
*/

#card {
	width: 80vw;
	max-width: 600px;
	background-color: #ebebeb;
	padding: 2rem 3rem;
	border: 1px solid #eee;
	margin: auto;
	border-radius: 4px;
	box-shadow: 0px 0px 24px #ffffff;
}

/*
  Eigenschaften der Box
. steht für Klasse, #steht für ID
  */

h1 {
	font-size: 5.2rem;
	margin-top: 0;
	color: #000000;
}

h2 {
	font-size: 1.1rem;
	text-align: left;
	margin-top: -4rem;
	font-weight: 400;
}

h2 a {
	color: #000000;

}

#map-container {
	height: 400px;

}

.kontakt {
	margin-top: 1rem;
	margin-right: 2rem;
  
	float: left;
  
}

.kontakt img {
	vertical-align: middle;
 
}

.kontakt a {
	text-decoration: none;
	color: #000000;
	margin-left: 0.5rem;
  margin-bottom: -10rem;
}

.clear{
	clear: both;
}