html {
  height: 100%;
  width: 100%;
  font-family: 'Space Grotesk', sans-serif;
  color: #000078;
}


h1 {
  color: #fff;
  font-weight: 400;
  font-size: 1rem;
  margin-top: -1.6rem;
  margin-bottom: -0.75rem;
}

a {
  text-decoration: none;
  font-weight: 700;
  color: #000078;
}

#card {
  margin: 0 auto;
  padding: 0.75rem;
  padding-top: 0rem;
  padding-bottom: 2rem;
  width: 60vw;
  min-width: 500px;
  max-width: 700px;
  border: 2px solid #000078;
  border-top: 28px solid #000078;
  border-radius: 5px;
  background-size: 50%;
}

#map-container {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  height: 400px;
  max-width: 700px;
  border-radius: 5px;
}

#legend {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  border: 2px solid #000078;
  border-radius: 5px;
  height: 1rem;
  overflow: hidden;
}


#color-1, color-2, color-3, color-4, color-5, color-6, color-7, color-8, color-9, color-10 {
  height: 1rem
}

#color-1 {
  grid-column: 1;
  background-color: rgb(219, 0, 68, 1);
  border-right: 2px solid #000078;
}

#color-2 {
  grid-column: 2;
  background-color: rgb(219, 0, 68, 0.9);
  border-right: 2px solid #000078;
}

#color-3 {
  grid-column: 3;
  background-color: rgb(219, 0, 68, 0.8);
  border-right: 2px solid #000078;
}

#color-4 {
  grid-column: 4;
  background-color: rgb(219, 0, 68, 0.7);
  border-right: 2px solid #000078;
}

#color-5 {
  grid-column: 5;
  background-color: rgb(219, 0, 68, 0.6);
  border-right: 2px solid #000078;
}

#color-6 {
  grid-column: 6;
  background-color: rgb(219, 0, 68, 0.5);
  border-right: 2px solid #000078;
}

#color-7 {
  grid-column: 7;
  background-color: rgb(219, 0, 68, 0.4);
  border-right: 2px solid #000078;
}

#color-8 {
  grid-column: 8;
  background-color: rgb(219, 0, 68, 0.3);
  border-right: 2px solid #000078;
}

#color-9 {
  grid-column: 9;
  background-color: rgb(219, 0, 68, 0.2);
  border-right: 2px solid #000078;
}

#color-10 {
  grid-column: 10;
  background-color: rgb(219, 0, 68, 0.1);
}

#legend-info {
  margin-top: -1rem;
  display: flex;
  justify-content: space-between;
}

.Apo-container {
  margin-top: -1rem;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 1.5rem;
  margin-top: 0.8rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid #000078;
  -webkit-transition: .2s;
  transition: .2s;
  border-radius: 5px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1rem;
  width: 1rem;
  left: 2px;
  bottom: 2px;
  background-color: #000078;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s; 
  -webkit-transition: .2s;
  transition: .2s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #000078;
}

input:checked + .slider:before {
  -webkit-transform: translateX(36px);
  -ms-transform: translateX(36px);
  transform: translateX(36px);
  background-color: #fff;
}


.beschreibungstext {
  padding-bottom: 1rem;
}


.contact {
  float: left;
  margin-right: 2rem;
}

.contact img {
  vertical-align: middle;
}

.contact a {
  margin-left: 0.25rem
}

.icon {
  margin-top: -0.5rem;
  width: 1rem;
  height: 1rem;
}



/* Das hier styled den Map-Container*/
.leaflet-container {
  background: #fff !important;
  outline-offset: 1px;
  border: 2px solid #000078;
  font-family: "Space Grotesk", Arial, Helvetica, sans-serif !important;
}

/* general toolbar styles */
.leaflet-bar a {
  border: 1px solid #000078 !important;
  color: #000078 !important;
}

.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
  border: 2px solid #000078 !important;
  }

.leaflet-bar a:hover,
.leaflet-bar a:focus {
  background-color: #000078 !important;
  color: #fff !important;
  }

/* Das hier styled die Popups auf der Map */
.leaflet-tooltip-pane   { z-index: 750 !important; }

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background-color: #fff;
  box-shadow: none !important;
  border: 2px solid #000078;
}

.leaflet-popup-content-wrapper{
  border-top: 28px solid #000078;
}

.leaflet-popup-tip-container {
  margin-top: -3px !important;
  }

.leaflet-popup-tip {
  border-top-color: #fff;
  border-left-color: #fff;
}

.leaflet-popup-content-wrapper {
  border-radius: 5px !important;
}

.leaflet-container a.leaflet-popup-close-button {
  color: #fff !important;
}

.leaflet-popup-content {
  display: flex;
  flex-direction: column;
  font-size: 1rem !important;
  line-height: 0.9 !important;
  color: #000078;
  margin: -64px 30px 5px 5px !important;
}

.Gemeinde {
  color: #fff;
  font-weight: 400;
}

.Senioren {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: -1rem;
}